@import '/src/assets/styles/common/mixins';
@import '/src/assets/styles/theme/colors';

.menu {
  @include borderLayout('bottom');

  white-space: nowrap;
  padding: 0px 15px;
  background: $common-color-layout-bg;
}

.separator {
  display: inline-block;
  width: 1px;
  height: 20px;
  margin-left: 1px;
  margin-right: 5px;
  vertical-align: middle;
  background: darkgray;
}
