@import '/src/assets/styles/common/breakpoints';
@import '/src/assets/styles/common/mixins';
@import '/src/assets/styles/theme/sizings';
@import '/src/assets/styles/theme/colors';

.element {
  @include stretchedContent;
  @include fontSizeForMobile(15px);

  flex: 0 0 auto;
  height: $sidebar-item-height;
  padding: 0px 15px;
  line-height: 2.2;
  z-index: inherit;
  background: $common-color-layout-bg;
  color: $common-color-dark-text;
  text-decoration: underline;

  @media (max-width: $small-breakpoint) {
    line-height: 2.4;
  }
}

.showBoxShadow {
  @include boxShadowPageHeader;
}
