@import '/src/assets/styles/theme/colors';

.button-icon {
  border: 1px solid #c0c0c0;
  padding: 0px 2px;
  border-radius: 3px;
  background: none;

  &:hover {
    cursor: pointer;
    background: $color-header;
  }
}
