@import '/src/assets/styles/theme/sizings';
@import '/src/assets/styles/theme/colors';

.btn {
  display: inline-block;
  line-height: 1.45;
  vertical-align: middle;
  text-align: center;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
  }

  svg {
    vertical-align: baseline;
  }
}
