@import '/src/assets/styles/common/breakpoints';
@import '/src/assets/styles/theme/colors';

.field {
  font-size: 15px;
  color: $common-color-suffix-text;

  @media (min-width: $small-breakpoint) {
    display: inline-block;
  }
}
