@import '~react-contexify/ReactContexify.css';
@import '/src/assets/styles/theme/sizings';

@keyframes contexify_feedback {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.8;
  }
}

.contextMenu {
  min-width: $sidebar-context-menu-width;

  .contexify_item {
    width: $sidebar-context-menu-width;

    &Content {
      padding: 3px 6px;
    }
  }

  > div:only-child {
    :global(.contexify_itemContent) {
      padding: 4px;
    }
  }

  // disables default feddback animation when item is clicked
  .contexify_item-feedback {
    animation: contexify_feedback 0s both;
  }
}

.itemIconWrapper {
  display: flex;
  width: 24px;
}

.itemIcon {
  vertical-align: sub;
}

.itemText {
  margin-left: 5px;
  margin-right: 3px;
  line-height: 1px;
}
