@import '~react-contexify/ReactContexify.css';

@import '/src/assets/styles/theme/colors';
@import '/src/assets/styles/theme/shapes';
@import '/src/assets/styles/theme/sizings';

@keyframes contexify_feedback {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.8;
  }
}

:global {
  .contexify_item {
    &:only-child {
      > .contexify_itemContent {
        padding: 4px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    &:not(.contexify_item-disabled) {
      &:focus > .contexify_itemContent,
      &:hover > .contexify_itemContent {
        border-radius: $border-radius-shape - 1;
        background: $brand-color;
      }
    }
  }
}

.contextMenu {
  min-width: $sidebar-context-menu-width;
  border-radius: $border-radius-shape - 1;
  cursor: pointer;

  box-shadow:
    1px 0px 2px rgba(0, 0, 0, 0.1),
    1px 1px 4px rgba(0, 0, 0, 0.1),
    2px 3px 6px rgba(0, 0, 0, 0.1);

  // disables default feedback animation when item is clicked
  .contexify_item-feedback {
    animation: contexify_feedback 0s both;
  }
}

.itemIconWrapper {
  display: flex;
  width: 24px;
}

.itemIcon {
  vertical-align: sub;
}

.itemText {
  margin-left: 5px;
  margin-right: 3px;
  line-height: 1px;
}
