@import '/src/assets/styles/common/breakpoints';
@import '/src/assets/styles/theme/colors';

.element {
  margin-bottom: 12px;
  font-size: 15px;
  color: $common-color-suffix-text;

  @media (min-width: $small-breakpoint) {
    display: inline-block;
  }
}

.icon {
  vertical-align: text-top;
}
