@import '/src/assets/styles/common/breakpoints';
@import '/src/assets/styles/theme/colors';

.titleInput {
  width: 100%;
  padding: 0px 0px 3px 0px;
  margin: 0px 0px 10px 0px;

  border: none;
  border-bottom: 1px solid #2d3b4a;

  line-height: 0;
  font-size: 32px;
  color: #2d3b4a;

  &:focus {
    outline: none;
  }

  @media (max-width: $small-breakpoint) {
    font-size: 28px;
  }
}
