@import '/src/assets/styles/common/breakpoints';
@import '/src/assets/styles/theme/colors';

.titleInput {
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: none;
  font-size: 32px;
  color: #2d3b4a;
  text-overflow: ellipsis;
  line-height: 1.2;

  &:focus {
    outline: none;
  }

  @media (max-width: $small-breakpoint) {
    font-size: 28px;
    line-height: 1.5;
  }
}
