@import '/src/assets/styles/common/breakpoints';
@import '/src/assets/styles/theme/sizings';
@import '/src/assets/styles/theme/colors';

.sidebarColumn {
  border-right: 1px solid $sidebar-border-color;
  background: $sidebar-color-bg;

  @media (min-width: $small-breakpoint) {
    width: $sidebar-width;
  }

  @media (max-width: $small-breakpoint) {
    // used for correct flexbox with "white-space: nowrap"
    min-width: 0;
  }
}

:global(.sidebar-nav-is-visible.single-column-layout) {
  .sidebarColumn {
    @media (max-width: $small-breakpoint) {
      flex: 1 1 0;
      width: calc(100% - 35px);
    }
  }
}
:global(.sidebar-nav-is-visible.double-column-layout) {
  .sidebarColumn {
    @media (max-width: $small-breakpoint) {
      width: calc((100% - 35px) / 2);
    }
  }
}
