@import '/src/assets/styles/common/breakpoints';
@import '/src/assets/styles/theme/sizings';
@import '/src/assets/styles/theme/colors';

.sidebarColumn {
  border-right: 1px solid $sidebar-border-color;

  @media (min-width: $small-breakpoint) {
    width: $sidebar-width;
  }

  @media (max-width: $small-breakpoint) {
    flex: 1 1 0;

    // used for correct flexbox with "white-space: nowrap"
    min-width: 0;
  }
}
