.btn {
  width: 28px;
  height: 28px;
  margin: 2px 4px 5px 0px;
  padding: 2px;
  line-height: 1;
  background: none;
  border: none;
  border-radius: 1px;
}

.isActive {
  background: black;
  color: #fff;
}
