$asideWidth: 80px;
$headerHeight: 35px;
$headerColor: green;

.aside {
  display: flex;
  flex-direction: column;
  width: $asideWidth;
  justify-content: space-between;
  border-right: 1px solid #e8e6e4;
  background-color: #f8f6f5;
}

.asideHeader {
  height: $headerHeight;
  width: $asideWidth;
  background-color: $headerColor;
}

.asideFooter {
  height: $headerHeight;
  width: $asideWidth;
  background-color: burlywood;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  padding-left: 15px;
  font-size: 24px;
  line-height: 1.4;
  color: purple;
  border-bottom: 2px solid $headerColor;
}

.description {
  margin-top: 0px;
}

.toolbar {
  position: sticky;
  top:0px;
  margin-bottom: 15px;
  padding-left: 15px;
  font-size: 20px;
  color: blue;
  border-top: 2px solid #e8e6e4;
  border-bottom: 2px solid #e8e6e4;
  background-color: white;
}

.content {
  padding: 15px 15px;
  overflow-y: scroll;
}

.input {
  width: calc(100% - 6px);
  padding: 2px;
  box-sizing: border-box;
  margin: 3px;
}
