@import '/src/assets/styles/theme/colors';

.item {
  margin-bottom: 3px !important;

  &:global(.contexify_item-disabled) {
    opacity: 1;
  }

  :global {
    .contexify_itemContent {
      padding: 2px 4px 4px;
    }
  }
}

.itemContent {
  color: #333;
}

.row {
  margin-bottom: 4px;
}

.separator {
  height: 3px;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.3);
}

.mainText {
  font-weight: bold;
}

.secondaryText {
  font-size: 15px;
  color: $common-color-suffix-text;
}
