@import '/src/assets/styles/common/mixins';
@import '/src/assets/styles/theme/colors';

.element {
  @include fontSizeForMobile(15px);

  padding: 0;
  border: none;
  line-height: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: $brand-color;

  &:hover {
    color: $brand-color-darker-10;
  }
}
