@import '~overlayscrollbars/overlayscrollbars.css';

.element {
  :global {
    .os-scrollbar {
      &.os-scrollbar-handle-interactive {
        .os-scrollbar-handle {
          background: #a8a8a8;
        }
      }

      &.os-scrollbar-interaction {
        .os-scrollbar-handle {
          background: #8e8e8e;
        }
      }

      .os-scrollbar-handle {
        border-radius: 1px;
      }
    }

    .os-scrollbar-vertical {
      width: 7px;
    }

    .os-scrollbar-horizontal {
      height: 7px;
    }
  }
}
