@import '/src/assets/styles/theme/colors';

.element {
  margin-top: 25px;
}

.text {
  margin-right: 8px;
  color: $common-color-suffix-text;
}

.link {
  color: $brand-color;

  &:hover {
    color: $brand-color-darker-10;
  }
}
