@import '/src/assets/styles/common/mixins';

.menu {
  @include bottomBoxShadow;

  white-space: nowrap;
  padding: 0px 15px;
}

.separator {
  display: inline-block;
  width: 1px;
  height: 20px;
  margin-left: 1px;
  margin-right: 5px;
  vertical-align: middle;
  background: darkgray;
}
