@import '/src/assets/styles/theme/sizings';
@import '/src/assets/styles/theme/colors';

.list {
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;

    :global {
      a {
        display: block;
        height: $sidebar-item-height;
        padding: 8px 20px;
        line-height: 1.2;
        text-decoration: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: $sidebar-link-color-text;

        &.active {
          background-color: $sidebar-link-active-color-bg;
        }

        &:not(.active):hover {
          background-color: $sidebar-link-hover-color-bg;
        }
      }
    }
  }
}
