@import '/src/assets/styles/common/breakpoints';

.layout {
  height: 100%;
}

.sidebar {
  position: fixed;
  display: flex;
  height: 100%;
  left: 35px;
  top: 0px;

  // temporary bug workaround - sometimes (on mobile view) page content is visible behind sidebar
  z-index: 9;

  transition: all 500ms ease;
}

.main {
  position: relative;
  height: 100%;

  // temporary bug workaround - sometimes (on mobile view) page content is visible behind sidebar
  z-index: 8;

  transition: all 500ms ease;

  @media (max-width: $small-breakpoint) {
    width: calc(100% - 35px);
  }
}

:global(.sidebar-nav-is-hidden) {
  .main {
    margin-left: 35px;
  }

  .sidebar {
    @media (min-width: $small-breakpoint) {
      margin-left: -430px;
    }
    @media (max-width: $small-breakpoint) {
      margin-left: -100%;
    }
  }
}

// desktop
:global(.sidebar-nav-is-visible.single-column-layout) {
  .main {
    @media (min-width: $small-breakpoint) {
      margin-left: 250px;
    }
  }
}
:global(.sidebar-nav-is-visible.double-column-layout) {
  .main {
    @media (min-width: $small-breakpoint) {
      margin-left: 465px;
    }
  }
}

// mobile
:global(.sidebar-nav-is-visible) {
  .main {
    @media (max-width: $small-breakpoint) {
      margin-left: calc(100% + 35px);
    }
  }

  .sidebar {
    @media (max-width: $small-breakpoint) {
      width: 100%;
    }
  }
}
