@import '/src/assets/styles/common/breakpoints';
@import '/src/assets/styles/theme/sizings';
@import '/src/assets/styles/theme/colors';
@import '/src/assets/styles/theme/z-indexes';

.layout {
  display: flex;
  height: 100%;
}

.sidebar {
  position: fixed;
  left: $sidebar-controls-width;
  height: 100%;
  display: flex;
  background: $sidebar-color-bg;
  z-index: $sidebar-z-index;
  transition: margin 500ms ease;

  @media (max-width: $small-breakpoint) {
    width: calc(100% - $sidebar-controls-width);
  }
}

.main {
  flex-grow: 1;
  background: #fff;
  z-index: $main-z-index;
  transition: margin 500ms ease;

  // prevents URL adress bar hiding on user scroll (for touch devices)
  @media (max-width: $small-breakpoint) {
    overflow: auto;
  }
}

.sidebarNavIsVisible {
  .main {
    @media (max-width: $small-breakpoint) {
      margin-left: $sidebar-controls-width;
    }
  }

  &:global(.single-column-layout) {
    .main {
      @media (min-width: $small-breakpoint) {
        margin-left: $sidebar-width + $sidebar-controls-width;
      }
    }
  }

  &:global(.double-column-layout) {
    .main {
      @media (min-width: $small-breakpoint) {
        margin-left: ($sidebar-width * 2) + $sidebar-controls-width;
      }
    }
  }
}

.sidebarNavIsHidden {
  .main {
    margin-left: $sidebar-controls-width;
  }

  .sidebar {
    @media (max-width: $small-breakpoint) {
      margin-left: -100%;
    }
  }

  &:global(.single-column-layout) {
    .sidebar {
      @media (min-width: $small-breakpoint) {
        margin-left: -$sidebar-width;
      }
    }
  }

  &:global(.double-column-layout) {
    .sidebar {
      @media (min-width: $small-breakpoint) {
        margin-left: -($sidebar-width * 2);
      }
    }
  }
}
