@import '/src/assets/styles/common/breakpoints';
@import '/src/assets/styles/theme/sizings';
@import '/src/assets/styles/theme/colors';
@import '/src/assets/styles/theme/z-indexes';

.layout {
  display: flex;
  height: 100%;
}

.sidebar {
  position: fixed;
  left: $sidebar-controls-width;
  height: 100%;
  display: flex;
  background: $sidebar-color-bg;
  z-index: $sidebar-z-index;
  transition: margin 500ms ease;

  @media (max-width: $small-breakpoint) {
    width: calc(100% - $sidebar-controls-width);
  }
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: #fff;
  z-index: $main-z-index;
  transition: margin 500ms ease;

  // used for correct flexbox with "white-space: nowrap" (breadcrumbs)
  min-width: 0;
}

.sidebar-is-visible {
  &:global(.single-column-layout) {
    .main {
      @media (min-width: $small-breakpoint) {
        margin-left: $sidebar-width;
      }
    }
  }

  &:global(.double-column-layout) {
    .main {
      @media (min-width: $small-breakpoint) {
        margin-left: ($sidebar-width * 2);
      }
    }
  }
}

.sidebar-is-hidden {
  .sidebar {
    @media (max-width: $small-breakpoint) {
      margin-left: -100%;
    }
  }

  &:global(.single-column-layout) {
    .sidebar {
      @media (min-width: $small-breakpoint) {
        margin-left: -$sidebar-width;
      }
    }
  }

  &:global(.double-column-layout) {
    .sidebar {
      @media (min-width: $small-breakpoint) {
        margin-left: -($sidebar-width * 2);
      }
    }
  }
}
