@import '/src/assets/styles/theme/sizings';
@import '/src/assets/styles/theme/colors';
@import '/src/assets/styles/theme/z-indexes';

.element {
  display: flex;
  flex-direction: column;
  width: $sidebar-controls-width;
  border-right: 1px solid $sidebar-border-color;
  background: $sidebar-color-bg;
  z-index: $sidebar-controls-z-index;
}

.controlsFiller {
  flex-grow: 1;

  ~ span {
    border-width: 1px 0px 0px 0px;
  }
}
