@import '/src/assets/styles/theme/sizings';
@import '/src/assets/styles/theme/colors';

.controls {
  position: fixed;
  height: 100%;
  width: 35px;
  
  z-index: 10;

  border-right: 1px solid $sidebar-border-color;
  background: $sidebar-color-bg;
}

.controlsBtn {
  width: 100%;
  height: $sidebar-item-height;
  padding: 5px;
  border-radius: 0;
  border-style: solid;
  border-color: $sidebar-border-color;
  border-width: 0 0 1px 0;
  color: $brand-color;
}

.isActive {
  background: $sidebar-link-active-color-bg;
}
