@import '/src/assets/styles/common/mixins';
@import '/src/assets/styles/theme/sizings';
@import '/src/assets/styles/theme/colors';

:global {
  .flex-grow-1 {
    flex-grow: 1;
  }
}

.list {
  padding: 0;
  margin: 0;
  overflow: auto;

  li {
    list-style-type: none;

    :global {
      a {
        @include ellipsisTextOnOverflow;
        @include fontSizeForMobile(15px);

        display: block;
        height: $sidebar-item-height;
        padding: 8px 12px 8px 20px;
        line-height: 1.2;
        text-decoration: none;
        color: $sidebar-link-color-title-text;

        &.active {
          background-color: $sidebar-link-active-color-bg;
        }

        &:not(.active):hover {
          background-color: $sidebar-link-hover-color-bg;
        }
      }
    }
  }
}

.wrapperWithSuffix {
  @include stretchedContent;
}

.titleWithSuffix {
  @include ellipsisTextOnOverflow;

  flex: 1 1 auto;
}

.suffixText {
  color: $common-color-suffix-text;
}