@import '~react-contexify/ReactContexify.css';

$menu-width: 140px;

@keyframes contexify_feedback {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.8;
  }
}

.sections-context-menu {
  min-width: $menu-width;

  .contexify_item {
    width: $menu-width;

    &Content {
      padding: 3px 6px;
    }
  }

  // disables default feddback animation when item is clicked
  .contexify_item-feedback {
    animation: contexify_feedback 0s both;
  }
}
