@import '/src/assets/styles/theme/sizings';
@import '/src/assets/styles/theme/colors';

.btn {
  width: $sidebar-controls-width;

  &:hover {
    background: $sidebar-link-active-color-bg;
  }
}

.icon {
  width: 100%;
  height: 100%;
  padding: 6px;
}

.isDisabled {
  color: $common-color-suffix-text;
}
