@import '/src/assets/styles/common/breakpoints';

@mixin ellipsisTextOnOverflow() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin stretchedContent() {
  display: flex;
  justify-content: stretch;
}

@mixin fontSizeForMobile($size) {
  @media (max-width: $small-breakpoint) {
    font-size: $size;
  }
}

@mixin bottomBoxShadow() {
  box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.1);
}
