@import '/src/assets/styles/theme/sizings';
@import '/src/assets/styles/theme/colors';

.headerBtn {
  width: $sidebar-controls-width;
  display: flex;
  color: $page-header-btn-color;
  border-radius: 0px;
  border-style: solid;
  border-color: transparent;
  border-width: 0px 0px 0px 1px;

  &:hover {
    background: $sidebar-link-active-color-bg;
    border-color: $sidebar-border-color;
  }
}

.headerIcon {
  width: 100%;
  height: $sidebar-item-height;
  padding: 6px;
}

.isDisabled {
  color: $common-color-suffix-text;
}
