@import '/src/assets/styles/theme/sizings';
@import '/src/assets/styles/theme/colors';

.btn {
  width: $sidebar-controls-width;
  height: $sidebar-controls-width;
  padding: 0px;
  border: none;
  line-height: 1;
  color: $common-color-dark-text;
  background-color: transparent;

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    color: $common-color-suffix-text;
  }
}

.icon {
  width: 100%;
  height: 100%;
  padding: 7px;
}
