// ProseMirror - common editor styles
.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 20px;

    li p {
      margin-bottom: 5px;
    }
  }

  p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.15);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }
}
