$robotoPath: '~@/fonts/Roboto/roboto-v30-latin_cyrillic-regular';

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('#{$robotoPath}.woff2'), url('#{$robotoPath}.woff'), url('#{$robotoPath}.ttf'), url('#{$robotoPath}.svg');
}
