@import '/src/assets/styles/common/breakpoints';
@import '/src/assets/styles/theme/colors';

$sidebar-default-width: 250px;
$sidebar-small-width: 140px;

.columns {
  display: flex;
  flex: 1;
}

.sidebar {
  width: $sidebar-default-width;
  border-right: 1px solid $sidebar-border-right-color;
  background: $sidebar-color-bg;

  @media (max-width: $bp-small) {
    width: $sidebar-small-width;
  }

  a {
    text-decoration: none;
  }
}

.main {
  flex: 1;
  background: #fff;
}
