@import '/src/assets/styles/theme/breakpoints';

$sidebar-default-width: 250px;
$sidebar-small-width: 140px;

.columns {
  display: flex;
  flex: 1;
}

.sidebar {
  width: $sidebar-default-width;
  border-right: 1px solid #e8e6e4;
  background: #faf9f8;

  @media (max-width: $bp-small) {
    width: $sidebar-small-width;
  }

  a {
    text-decoration: none;
  }
}

.main {
  flex: 1;
  background: #fff;
}
