@import '/src/assets/styles/common/breakpoints';

.columns {
  display: flex;
  flex: 1;

  // used for correct flexbox with "white-space: nowrap"
  @media (max-width: $small-breakpoint) {
    min-width: 0;
  }
}

.main {
  flex: 1;
  overflow-y: auto;
  background: #fff;
}

.isHiddenBpSmall {
  @media (max-width: $small-breakpoint) {
    display: none;
  }
}
