@import '/src/assets/styles/theme/colors';

.spinner {
  animation: spin 1.5s infinite linear;
  color: $common-color-suffix-text;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}