@import '/src/assets/styles/theme/colors';

.spinnerWrapper {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 1.45;
  vertical-align: middle;
  text-align: center;
  color: $common-color-suffix-text;

  svg {
    vertical-align: baseline;
  }
}