@import '/src/assets/styles/common/mixins';
@import '/src/assets/styles/theme/colors';

.header {
  height: 40px;
  padding: 7px 10px;
  z-index: 2;
  background: $brand-color;
  @include boxShadow(0px 2px 5px 0px rgba(34, 60, 80, 0.2));

  .logo {
    font-size: 20px;
    color: $logo-color-text;
    line-height: 1.3;
    text-decoration: none;
  }
}