// Brand
$brand-color: #3da6ca;
$brand-color-darker-10: #348dac;

// Common
$common-color-layout-bg: #faf9f8;
$common-color-suffix-text: #abbacc;
$common-color-dark-text: #3d4349;

// Forms
$invalid-color: #cd5c5c;

// Sidebar
$sidebar-border-color: #e8e6e4;
$sidebar-toolbar-btn-border-color: #c8c8c8;
$sidebar-link-color-title-text: #6a86a6;
$sidebar-link-active-color-bg: #edeae6;
$sidebar-link-hover-color-bg: #f4f1ef;

// Page header
$bookmark-color: #f6c050;
