$header-color-bg: #3DA6CA;

$logo-color-text: #FFF;

$sidebar-color-bg: #FAF9F8;
$sidebar-border-color: #E8E6E4;

$sidebar-link-color-title-text: #536D8A;
$sidebar-link-color-suffix-text: #ABBACC;
$sidebar-link-active-color-bg: #EDEAE6;
$sidebar-link-hover-color-bg: #F4F1EF;

$sidebar-toolbar-btn-border-color: #C8C8C8;