$header-color-bg: #3DA6CA;

$logo-color-text: #FFF;

$sidebar-color-bg: #FAF9F8;
$sidebar-border-right-color: #E8E6E4;

$sidebar-link-color-text: #5D7A9A;
$sidebar-link-active-color-bg: #EDEAE6;
$sidebar-link-not-active-color-bg: #F4F1EF;

$button-hover-color-bg: #F3F2F1;